# Intellij
.idea
*.iml
*.iws

# Mac
.DS_Store

# Maven
build

# Local
# please don't change this file unless it is necessary to do so
# anything that are not intended to go public should stay in "local"
local
